* {
  box-sizing: border-box;
}

.hidden,
.hide {
  display: none;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
}
.instructions {
  width: 88%;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: firebrick;
  color: black;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.offscreen {
  position: absolute;
  left: -9999px;
}

*::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #333333;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}